################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/git-web/node_modules
/.vs
/server/.vs
/server/bin
/server/obj
/winui3/src/GitDesktop/.vs
/winui3/src/GitDesktop/bin/x64/Debug/net8.0-windows10.0.19041.0
/git-web/release
/git-web/dist
